<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Library</title>
</head>
<body>
    <div class="container">
        <header class="row">
            <div class="col-md-7 mt-5">
                For outdoorsy types
            </div>
        </header>
        @RenderBody()
    </div>
</body>
</html>
